/* PC */
@media (min-width: 1024px) {

}

/* Tablet& Mobile */
@media (max-width: 1023px) {

    .btn {
        padding: 17px 36px;
    }

    #slider .text-content {
        position: initial;
    }

    .contact-info {
        line-height: 2;
    }

    .contact-form .form-control {
        padding: 15px;
        font-size: 15px;
    }

    #footer .social-list a {
        font-size: 35px;
        margin: 0 12px;
    }

    #footer .copyright a {
        padding: 12px 0;
        display: inline-block;
    }

}
/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {

}

/* Mobile */
@media (max-width: 739px) {
.s-full-width,
.s-col-full {
    width: 100%;
}

.s-mt-8 {
    margin-top: 8px;
}

    #header {
        overflow: hidden;
    }

    #header .search-incon {
        display: none;
    }
    #header .mobile-menu {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
    }
    
    #nav {
        display: block;
    }

    #nav li a {
        padding: 1px 24px;
    }

    #nav >li {
        display: block;
    }
    #nav >li:first-child {
        display: inline-block;
    }
    #nav .subnav {
        position: initial;
        background: #2f2e2e;
        box-shadow: none;
    }
    #nav .subnav a {
        color:white;
        padding: 5px 41px;
    }

    #content .member-img {
        width: 80%;
    }
}

